
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-red: #e84c3d;
}
html, body {

    height:  100%;
    overflow-x: hidden;
}

body{
    background-color: rgb(255, 255, 255);
}

.full-screen-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color: rgba(173, 216, 230, 0);
    background-image: url(/images/SINGLE-bg.jpg);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen */
    background-color: #fff;
}
#first-page{
     
    background-image: url(/images/SINGLE-bg.jpg);
}
.full-screen-div-capa {
    width: 100%;
    height: 100%;
   /* background-color: rgba(0, 0, 0, 0.753);*/ 
   background-color: rgb(255, 255, 255);
   
}
#image-capa{
    background-color: rgba(0, 0, 0, 0.753); 
}

.full-container{
    width: 100%;
    height: 100%;
    
   /* background-color: rgba(0, 0, 0, 0.753);*/ 
   background-color: rgba(255, 255, 255, 0);
}
 
.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Filas para header, main y footer */
    height: 100%; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
}

.header-container {
    grid-row: 1; /* Ubica el header en la primera fila */
    background-color: rgba(240, 128, 128, 0);
    text-align: center;
    padding: 0px;
    height: 40px;
}

 
.main-container {
    grid-area: main;
    background-color: rgba(144, 238, 144, 0);
    display: flex;
    justify-content: center; /* Centra horizontalmente el main-inner-container */
    align-items: center; /* Centra verticalmente el main-inner-container */
    color: black;
}


.main-inner-container {
    width: 500px;
    height: 100%;
    background-color: rgba(255, 255, 224, 0);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-1-container {
    flex: 0 0 40%; /* Ocupa el 20% del alto del parent */
    background-color: rgba(173, 216, 230, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2-container {
   /* flex: 0 0 60%; /* Ocupa el 80% del alto del parent */
    background-color: rgba(240, 128, 128, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bar-upper{
    margin-top: 20px;
    
}
#upper-text-container{
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
    font-weight:  lighter;
    color: var#797878;

    justify-content: left;
    margin-left: 15px;
    display: flex;

}

#n-tickets{
    padding: 2px;
    padding-right: 0;
    padding-left: 8px;
    font-size: 14px;
    width: 45px;
    justify-content: center;
}
.footer-container {
    grid-row: 3; /* Ubica el footer en la tercera fila */
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    height: 30px;
    color: #f5f5f5c4;
    font-size: small;
    background-color: #1d1d1d;
    padding-top: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
}

.header-container {
    grid-area: header;
}

.main-container {
    grid-area: main;
}

.footer-container {
    grid-area: footer;
}


/*------------[ CARD ]---------------*/


.matrix {
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    gap: 5px;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    background-color: rgba(110, 12, 12, 0);
}

.matrix-numero-container{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
   
    
    position: relative;

}
.matrix-numero,
.matrix-numero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
}
.matrix-numero{
    border: 1px solid #000000da;
    border-radius: 20%;
    
}
.matrix-numero.active{
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 0px 5px var(--color-red);
    border: 1px solid rgba(0, 0, 0, 0.616);
    background-color: var(--color-red);
    
    
}

.matrix-numero.active.animation{
    animation: glowAnimation 1s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}
@keyframes glowAnimation {
    0% {
        box-shadow: 0px 0px 0px var(--color-red);
         
    }
    50% {
        box-shadow: 0px 0px 50px var(--color-red);
         
    }
    100% {
        box-shadow: 0px 0px 0px var(--color-red);
        
    }
}
.matrix-numero-text.active{
    color: rgb(255, 255, 255);
    font-weight: bold;
    z-index: 999;
}
.matrix-numero-img {
   
    z-index: 999;
    width: 100%;
    height: 100%;
   
}
.matrix-numero.vendido{
    border: 1px solid #2b2b2b44;
    background-color: rgba(0, 255, 255, 0);
     
}
.matrix-numero-img.vendido1{
    background-image: url(../../images/coin_leo.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.matrix-numero-img.vendido2{
    background-image: url(../../images/coin_paula.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.matrix-numero-img.vendido3{
    background-image: url(../../images/coin_nico.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.matrix-numero-img.vendido4{
    background-image: url(../../images/coin_cami.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.matrix-numero-img.vendido0{
    background-image: url(../../images/coin.png);
    background-size: 40px 40px;
    background-repeat: no-repeat;
}
.matrix-numero-text {
    font-size: 16px;
     
}
.matrix-numero-text.vendido {
   color: #2b2b2b44;
     
}
/*Diseño pagina 1*/
#container-page1{
    background-color: rgba(0, 255, 255, 0);
    position:  relative;
 
    align-items: center;
    justify-content: center;
    
}
#page-1-title{
    bottom: 150px;
    position: absolute;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 115px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    color: #fff;
    margin: -14px auto -5px auto;
    width: 100%;
    line-height: 100%;
    z-index: 1;
    background-color: #00000000;
}


/*---------[   LOADER    ]--------------*/
#loader-container-holder{
    height: 100vh;
    width: 100vw;
    background-color: rgba(127, 255, 212, 0);
    position: relative;
     
     
}
.loaders-container {
    position: absolute;
    bottom: 290px;
background-color: rgba(0, 255, 255, 0);
    padding: 0px;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 0;
      /* Centrar horizontalmente */
      left: 50%;
      transform: translateX(-50%);

    .container {
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      padding: 30px;
      width: 25%;
      height: 140px;
    }
  }
  
  
.circle {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top-color: #FFF;
    animation: spin 1s infinite linear;
  }   
  @keyframes spin { 
    100% { 
      transform: rotate(360deg); 
    } 
  } 
  
  
/*---------[ bottom bouttons ]----------*/
#bottom-buttons-container{
    background-color: rgba(0, 255, 255, 0);

    display: inline-flex;
    justify-content: center;
}

#button-lucky, #button-buy{
    width: 100px;
    height: 40px;
    background-color: #e84c3d;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
     align-items: center;
     box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.432);
}
#button-buy{
    margin-left: 20px    ;
}

#button-buy.desactive{
    background-color: #8b8b8bd8;
}

/*-------------[ BANNER1]---------------------*/
#banner1-donaciones{
    width: 100vw;
    background-color: #ff00001a;
   
    position: relative;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 3px;
    border: 1px solid red;
   
}

#banner1-donaciones-inner{
    width: auto;
    display: inline-flex;
    animation: correrCinta 20s linear infinite;
}

@keyframes correrCinta {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(-100%);
    }
}

#nequi-icon{
    background-image: url(nequi.png);
    background-size: 35px 12px;
    width: 40px;
    background-position: bottom;
    margin-bottom: 1.4px;
    background-repeat: no-repeat;
}

#davi-icon{
    background-image: url(daviplata2.png);
    background-size: 55px 10px;
    width: 55px;
    height: 10px;
    background-position: bottom;
    margin-top: 1px;
    background-repeat: no-repeat;
}
/*---------[ OVERLAY ]--------------*/
#overlay {
    position: fixed;      /* Fijo en la ventana */
    top: 0;               /* Alineado con el borde superior */
    left: 0;              /* Alineado con el borde izquierdo */
    width: 100%;          /* Ancho completo de la ventana */
    height: 100%;         /* Alto completo de la ventana */
    background-color: rgba(148, 147, 147, 0.562); /* Fondo semi-transparente */
    z-index: 1000;        /* Asegura que está por encima de todo */
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
   
}

#modal-title-b{
    color: var(--color-red);
    font-weight: bold;
}
.modal-card {
    width: auto;
    height: auto;
    background-color: white;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.589);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    
}

#modal-x-button-container{
     
    display: flex;
    width: 100%;
    justify-content: right;
}

#modal-x-button{
     cursor: pointer;
    margin-top: 0px;
    margin-right: 10px;
    width: auto;
    font-size: 20px;
    border: 1px solid rgba(197, 13, 13, 0);
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 50%;
     display: none;
    color: rgb(197, 13, 13);;
    background-color: rgba(197, 13, 13, 0);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.356);
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Sistema de fuentes */
}

#modal-title {
    margin: 0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    
}

.modal-buttons {
    width: 100%;
    display: flex;
    
    justify-content: space-around;
    
    
}

#accept-button, #cancel-button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#accept-button {
    background-color: #4CAF50;
    color: white;
}

#cancel-button {
    background-color: #f44336;
    color: white;
}
#modal-content{
    margin-bottom: 40px;
    display: none;
    flex-direction: column;
}
#p-total{
margin-bottom: 10px;
  
}

#p-nequi, #p-nequi2{
    font-size: 13px;
    color: #464444d7;
}

#number-nequi-card{
    font-weight: bold;
    color: #252525d7;
}
#COP{
    font-size: 10px;
}

/*----------[ OVERLAY SECUR]-----------*/
/* Estilos para la tarjeta y el overlay */
#overlay-secur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    display: none;
}

.card-secur {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Estilos para los botones */
.button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-accept {
    background-color: #4caf50; /* Verde */
    color: #fff;
}

.button-cancel {
    background-color: #f44336; /* Rojo */
    color: #fff;
    margin-left: 10px;
}


/*-----------[OVERLAY PSWSD]----------------------*/
#overlay-secure-pswd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    display: none;
}

.overlay-secure-pswd-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Estilos para los botones */
.overlay-secure-pswd-button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.overlay-secure-pswd-button-accept {
    background-color: #4caf50; /* Verde */
    color: #fff;
}

.overlay-secure-pswd-button-cancel {
    background-color: #f44336; /* Rojo */
    color: #fff;
    margin-left: 10px;
}

/* Estilo para el input */
.overlay-secure-pswd-input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.2s;
}
/*---------[ OVERLAY FRAME ]----------*/

#overlay-frame{
    position: fixed;      /* Fijo en la ventana */
    top: 0;               /* Alineado con el borde superior */
    left: 0;              /* Alineado con el borde izquierdo */
    width: 100%;          /* Ancho completo de la ventana */
    height: 100%;         /* Alto completo de la ventana */
    background-color: rgb(15, 15, 15); /* Fondo semi-transparente */
    z-index: 1000;        /* Asegura que está por encima de todo */
    display: none;
}

iframe {
    width: 100%;
    height: 100%;
    border: none; /* Elimina el borde del iframe */
}

/*---------[   button Top          ]-----------*/
#botonSuperiorDerecha {
    position: fixed;
    top: 20px; /* Ajusta según la distancia deseada desde la parte superior */
    right: 20px; /* Ajusta según la distancia deseada desde el lado derecho */
    width: 50px; /* Tamaño del botón */
    height: 50px; /* Tamaño del botón */
    border-radius: 50%; /* Hace que el botón sea redondo */
    background-color: #e84b3d48;
    color: #fff; /* Color del texto del botón */
    font-size: 24px; /* Tamaño del texto del botón */
    border: none; /* Quita el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar por encima del botón */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    color:  #f8301e;
    border: 1px solid #f8301e;
    display: none;
  }
/*---------[   bold button pay          ]-------*/
#button-PAY{
    display: flex;
    background-color: #79787800;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    
}

#WhatsApp-PAY-container{
background-color: #7a7a7a00;
display: flex;
justify-content: center;
align-items: center;
}

 

#WhatsApp-PAY{
    background: linear-gradient(90deg, #12aa4a 0%, #0d796c 100%); /* Degradado verde tipo WhatsApp */
    color: white;
    font-size: 14.5px;
    font-weight: normal;
    border: none;
    border-radius: 30px;
    padding: 15px 34px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-top: 20px;   
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Sistema de fuentes */
    

} 

#whatsapp-pay-text2{
font-weight: bold;
}

#loader-container-holder2{
    background-color: #0d796d00;
    display: flex;
    margin: 0;
    display: none;
}
#wrapper {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 1px;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  /* SPINNER */
  
  .spinner {
    margin: 0px;
    display: block;
    float: left;
    border: 25px solid  var(--color-red);
    width: 1px;
    height: 1px;
    border-radius: 50px;
    border-left-color: transparent;
    border-right-color: transparent;
    animation-name: spinx;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes spinx {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(720deg) scale(0.6); -webkit-filter: blur(3px); }
    100% { transform: rotate(0deg) scale(1); }
  }
  
  
/*---------[ Wide screen ]----------*/
@media (min-width: 768px) {
        body{
            background-color: rgb(58, 58, 58);
        }


        .main-inner-container {
            width: 60%;
           
        }

        #bottom-buttons-container{
          margin-top: 30px;
        }


        #listaTickets{
            display: none;
          }

        #bar-upper{
            margin-bottom: 20px;
            margin-top: 0;
            padding-top: 0;
        }

    #cardWrap{
        margin: 0;
        
    }
.content-1-container{
    flex:none;
    margin-top: 20px;
    margin-bottom: 20px;
}
    #upper-text-container{
        margin-top: 0;
    }

    .header-container{
        display: none;
    }
    #banner1-donaciones{
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #banner1-donaciones-inner{
        width: auto;
        display: inline-flex;
        animation: none;
      
    }
}

/*---------[ Mobile screen ]----------*/
@media (max-width: 769px) {
    body{
        background-color: rgb(255, 255, 255);
    }
 .main-container{
    height: fit-content;
 }
 .content-2-container{
    height: fit-content;
 }
 .matrix{
    margin-top: 2px;
    margin-bottom: 20px;
 }
    .main-inner-container {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    #page-1-title{
        font-size: 65px;
       
    font-style: normal;
    font-weight: 700;
     
    
    }



    .loaders-container {
        position: absolute;
        bottom: 400px;
    background-color: rgba(0, 255, 255, 0);
        padding: 0px;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 0;
          /* Centrar horizontalmente */
          left: 50%;
          transform: translateX(-50%);
    
        .container {
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          padding: 30px;
          width: 25%;
          height: 140px;
        }
      }
      
      
    .circle {
        box-sizing: border-box;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        border: 3px solid rgba(255, 255, 255, 0.2);
        border-top-color: #FFF;
        animation: spin 1s infinite linear;
      }   


#button-lucky, #button-buy{
     height: 50px;
     margin-top: 20px;
     margin-bottom: 20px;
     cursor: pointer;
    }

    #button-buy{
        margin-left: 50px;
       
    }
   
    #less-tickets, #n-tickets, #more-tickets{
        display: none;
    }
    

    #listaTickets{
        font-size: 18px;
        height: 25px;
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 5px;
    }



    #accept-button, #cancel-button {
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        height: 40px;
    }
  #cancel-button{
    margin-left: 50px;
  }

  
}