:root {
  --color-red: #e84c3d;
  --color-red2: #bd2e21;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
   
   
  }

  #bg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(../../../images/portada1.png);
    background-size: cover;
    background-position: center;
  /* Aplica el efecto de desenfoque */
  
  }
  
  .rifa-container {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .rifa-container iframe {
    width: 100%;
    height: 100%;
    border: none; /* Quita el borde del iframe */
  }


  .upper-container {
    
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  
    
    width: 100%;
    height: 100%;
    
     justify-content: center;
    z-index: 9999; /* Asegura que esté por encima de todo */
    background-color: rgba(255, 255, 255, 0); /* Fondo semi-transparente */
    /* Puedes ajustar otros estilos según tus necesidades */
    overflow-y: auto;
  }

/* Pseudo-elemento para expandir el contenedor verticalmente */
.upper-container::before {
  content: '';
  flex-grow: 0;
}
 #iallds-holder{

 }
  .thnks-card {
     display: flex;
     flex-direction: column;
    background-color: #fff;
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
  }
  #card-container{
    
  
  
  }

  #accept-b {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    background-color: #4CAF50;
    color: white;

    display: none;
}



/* Estilos para el contenedor del formulario */
#form-container {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #cccccc00;
  border-radius: 10px;
  background-color: #f9f9f900;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  display: none;
}

/* Estilos para los grupos de formulario */
.form-group {
  margin-bottom: 15px;
}

/* Estilos para las etiquetas */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

/* Estilos para los campos de entrada */
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos para el botón de enviar */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: var(--color-red);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Cambiar el color del botón al pasar el ratón */
button[type="submit"]:hover {
  background-color: var(--color-red2);
}
#card-subtitle, #card-subtitle2, #card-subtitle3{
  text-align: center;
}
#cardDownloader-container-holder{
  display: none;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}
#cardDownloader-container{
  background-color: #4caf4f00;
  display: inline-flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  
  
}
#cardDdownloader-button{
  background-color: var(--color-red);
  display: inline-flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 5px;
  padding-right: 10px;
  border-radius: 10px;
  width: auto;
  color: white;
  pointer-events: all;
  cursor: pointer;
 
}


#cardDownloader-icon{
  background-color: #00030000;
 width: 20px;
 height: 20px;
 margin-right: 10px;
 background-image: url(download-icon.svg);
 background-size: 20px 20px;
 background-repeat: no-repeat;
  
}

/*------------- WRAPER-----------*/
#loader-container-holder2{
  background-color: #0d796d00;
  display: flex;
  margin: 0;
  display: none;
  background-color: #00ff0800;
}
#wrapper {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 1px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}


#card-title{
  margin-left: 10px;
  margin-right: 10px;
}

/*------------- WRAPER 3-----------*/
#loader-container-holder3{
  background-color: #0d796d00;
  display: flex;
  margin: 0;
  display: flex;
  background-color: #00ff0800;
}
#wrapper3 {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 1px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* SPINNER */

.spinner3 {
  margin: 0px;
  display: block;
  float: left;
  border: 25px solid  var(--color-red);
  width: 1px;
  height: 1px;
  border-radius: 50px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation-name: spinx;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


/* SPINNER */

.spinner {
  margin: 0px;
  display: block;
  float: left;
  border: 25px solid  white;
  width: 1px;
  height: 1px;
  border-radius: 50px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation-name: spinx;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spinx {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(720deg) scale(0.6); -webkit-filter: blur(3px); }
  100% { transform: rotate(0deg) scale(1); }
}

/*------------------------------------*/